body {
	background-color: #eee;
	/*background-color: rgb(245, 245, 245);*/
}

#breadcrumbsbar {
	background-color: #f6f9fe;
}

#page {
	/*background-color: rgba(255,255,255,0.5);*/
}
/*
section.section {
	background-color: #f00;
}
div.container {
	background-color: #f00;
}
*/
#page table.res-card {
	width: 100%;	
}
#page table.res-card td {
	padding: 0 1em;
}

#page table.res-card td:first-child {
	text-align: right;
	background-color: rgba(50, 115, 220, 0.1);
	width: 220px;
	min-width: 220px;
	max-width: 220px;
}